.App {
  text-align: center;
}

.modal-title {
  text-align: center;
  padding-top: 20px;
}

.modal-header {
  text-align: center;
}

.bkash-offer {
  width: 50%;
  border: 2px solid;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.coupon-input-field {
  width: 60% !important;
  margin-right: 20px !important;
}